<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="attendance">
      <h2 data-cy="attendanceDetailsHeading">
        <span jhiTranslate="jhipsterSampleApplicationApp.attendance.detail.title">Attendance</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ attendance.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.attendance.inTime">In Time</span></dt>
        <dd>
          <span>{{ attendance.inTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.attendance.outTime">Out Time</span></dt>
        <dd>
          <span>{{ attendance.outTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.attendance.employee">Employee</span></dt>
        <dd>
          <div *ngIf="attendance.employee">
            <a [routerLink]="['/employee', attendance.employee.id, 'view']">{{ attendance.employee.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.attendance.office">Office</span></dt>
        <dd>
          <div *ngIf="attendance.office">
            <a [routerLink]="['/office', attendance.office.id, 'view']">{{ attendance.office.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/attendance', attendance.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
