<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="visitor">
      <h2 data-cy="visitorDetailsHeading"><span jhiTranslate="jhipsterSampleApplicationApp.visitor.detail.title">Visitor</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ visitor.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.visitor.name">Name</span></dt>
        <dd>
          <span>{{ visitor.name }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.visitor.email">Email</span></dt>
        <dd>
          <span>{{ visitor.email }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.visitor.phone">Phone</span></dt>
        <dd>
          <span>{{ visitor.phone }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/visitor', visitor.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
