<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-attendance-heading"
        data-cy="AttendanceCreateUpdateHeading"
        jhiTranslate="jhipsterSampleApplicationApp.attendance.home.createOrEditLabel"
      >
        Create or edit a Attendance
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.attendance.inTime" for="field_inTime">In Time</label>
          <div class="d-flex">
            <input
              id="field_inTime"
              data-cy="inTime"
              type="datetime-local"
              class="form-control"
              name="inTime"
              formControlName="inTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.attendance.outTime" for="field_outTime">Out Time</label>
          <div class="d-flex">
            <input
              id="field_outTime"
              data-cy="outTime"
              type="datetime-local"
              class="form-control"
              name="outTime"
              formControlName="outTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.attendance.employee" for="field_employee">Employee</label>
          <select
            class="form-control"
            id="field_employee"
            data-cy="employee"
            name="employee"
            formControlName="employee"
            [compareWith]="compareEmployee"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="employeeOption" *ngFor="let employeeOption of employeesSharedCollection">{{ employeeOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jhipsterSampleApplicationApp.attendance.office" for="field_office">Office</label>
          <select
            class="form-control"
            id="field_office"
            data-cy="office"
            name="office"
            formControlName="office"
            [compareWith]="compareOffice"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="officeOption" *ngFor="let officeOption of officesSharedCollection">{{ officeOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
