<div>
  <h2 id="page-heading" data-cy="AttendanceHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.attendance.home.title">Attendances</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.attendance.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-attendance"
        [routerLink]="['/attendance/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.attendance.home.createLabel"> Create a new Attendance </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="attendances?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.attendance.home.notFound">No Attendances found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="attendances && attendances.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="inTime">
            <div class="d-flex">
              <span jhiTranslate="jhipsterSampleApplicationApp.attendance.inTime">In Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="outTime">
            <div class="d-flex">
              <span jhiTranslate="jhipsterSampleApplicationApp.attendance.outTime">Out Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="employee.id">
            <div class="d-flex">
              <span jhiTranslate="jhipsterSampleApplicationApp.attendance.employee">Employee</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="office.id">
            <div class="d-flex">
              <span jhiTranslate="jhipsterSampleApplicationApp.attendance.office">Office</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let attendance of attendances; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/attendance', attendance.id, 'view']">{{ attendance.id }}</a>
          </td>
          <td>{{ attendance.inTime | formatMediumDatetime }}</td>
          <td>{{ attendance.outTime | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="attendance.employee">
              <a [routerLink]="['/employee', attendance.employee.id, 'view']">{{ attendance.employee.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="attendance.office">
              <a [routerLink]="['/office', attendance.office.id, 'view']">{{ attendance.office.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/attendance', attendance.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/attendance', attendance.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(attendance)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
